<%= link_to "/orders/cart" do %>
  <p class="go-to-cart"> <i class="fa fa-shopping-cart cart-icon" aria-hidden="true"></i> Go to Cart </p>
<% end %>

<div class="container">
  <% displayableCategoryItems.each do |category_name,menu_items| %>
    <div class="categories">
      <h1 class="category-name"> <%=category_name%> </h1>
      <ul class="category-items">
        <% menu_items.each do |menu_item| %>
          <li class="category-item">
            <p class="menu-item-name"> <%=menu_item.name%> </p>
            <p class="menu-item-description"> <%=menu_item.description%> </p>
            <p class="menu-item-price"> <i class="fa fa-inr" aria-hidden="true"></i> <%=menu_item.price%> </p>
            <% order_item = Order.find(session[:current_order_id]).order_items.find_by(menu_item_id: menu_item.id) %>
            <div class="menu-item-quantity">
              <% if order_item %>
                <%= form_with(url: "/order_items/#{menu_item.id}/decrement", method: "put") do%>
                  <%= submit_tag("-", class: "decrement-button")%>
                <% end %>
                <p class="menu_item-quantity"><%= order_item.quantity%></p>
                <%= form_with(url: "/order_items/#{menu_item.id}/increment", method: "put") do%>
                  <%= submit_tag("+", class: "increment-button")%>
                <% end %>
              <% else %>
                <%= form_with(url: "/order_items/#{menu_item.id}/addToCart", method: "post") do%>
                  <%= submit_tag("Add", class: "add-button")%>
                <% end %>
              <% end %>
            <div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
