<h1 class = "user-title"><%= role %>s </h1>
<div class="users">
  <div class="user-headings">
    <p class="user-name heading" >Name</p>
    <p class="user-phone heading" >Phone</p>
    <p class="user-address heading" >Address</p>
    <p class="user-orders-count heading" >Total Orders</p>
    <p class="user-role heading" >Change Role</p>
  </div>
  <% User.category(role).each do |user| %>
    <div class="user">
      <p class="user-name"> <%= user.name %> </p>
      <p class="user-phone"> <%= user.phone %> </p>
      <p class="user-address"> <%= user.address %> </p>
      <p class="user-orders-count"> <%= user.orders.deliveredOrders.count %> </p>
      <% if role == "clerk" %>
        <%= form_with(url: "/users/#{user.id}/removeAsClerk", method: "post") do %>
          <%= submit_tag("Remove As Clerk", class: "user-change-role", data: {disable_with: "Removing.."}) %>
        <% end %>
      <% else %>
        <%= form_with(url: "/users/#{user.id}/makeAsClerk", method: "post") do %>
          <%= submit_tag("Appoint As Clerk", class: "user-change-role", data: {disable_with: "Appointing.."}) %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
