<div class="profile-content">
  <div class="profile-flex">
    <p> <%= user.name %> </p>
    <p class="profile-role"> <%= user.role %> </p>
  </div>
  <p> <%= user.email %> </p>
  <p class="profile-address"> <%= user.address %> </p>
  <p> <%= user.phone %> </p>
  <p class="update-profile-edit-icon"> <%= link_to ('<i class="fa fa-pencil"></i>').html_safe, "/users/#{user.id}/edit" %> </p>
</div>
