<!-- Tabs Titles -->
<div class="tab-titles">
<% if signUpFlag %>
<%   signin = "sign-in underlineHover" %>
<%   signup = "sign-up active" %>
<% else %>
<%   signup = "sign-up underlineHover" %>
<%   signin = "sign-in active" %>
<% end %>
<%= link_to "Sign In", new_session_path, class: signin %>
<%= link_to "Sign Up", new_user_path, class: signup %>
</div>

<% if signUpFlag %>
  <%= form_with(url: users_path, method: "post", class: "home-form-inputs") do %>
    <%= text_field_tag(:name, nil, class: "home-form-input", placeholder: "name") %>
    <%= email_field(nil, nil, name: "email", class: "home-form-input", placeholder: "E-mail") %>
    <%= password_field(nil, nil, name: "password", class: "home-form-input", placeholder: "password")%>
    <%= telephone_field(nil, nil, name: "phone", class: "home-form-input", placeholder: "contact number") %>
    <%= text_area_tag(:address, nil, size: "35x6", placeholder: "address", class: "home-form-input") %>
    <%= submit_tag("Sign Up!", class: "home-form-input log-in", data: {disable_with: "Signing Up.."}) %>
  <% end %>
<% else %>
  <%= form_with(url: sessions_path, method: "post", class: "home-form-inputs") do %>
    <%= text_field_tag(:email, nil, class: "home-form-input", placeholder: "email") %>
    <%= password_field(nil, nil, name: "password", class: "home-form-input", placeholder: "password")%>
    <%= submit_tag("Sign In!", class: "home-form-input log-in", data: {disable_with: "Signing In.."}) %>
  <% end %>
<% end %>
