<h1 class="pending-orders-title"> PENDING ORDERS </h1>
<div class="pending-orders">
  <% pending_orders.each do |order| %>
    <div class="pending-order">
      <p class="pending-order-id"> <span> OrderID: </span> <%= order.id %> </p>
      <div class="user-name-order-cancel-flex">
        <% if order.user.role == "customer"%>
          <span><%= order.user.name %></span>
        <% else %>
         <span> Walk-In-customer(by <%= User.find(order.user_id).name%>) </span>
        <% end %>
        <% if order.user_id == current_user.id %>
          <%= form_with(url: "/orders/#{order.id}", method: "delete") do %>
            <%= submit_tag("Cancel order !", class: "cancel-order-submit", data: {disable_with: "Cancelling.."}) %>
          <% end %>
        <% end %>
      </div>
      <div class="pending-order-items">
        <% order.order_items.each do |order_item| %>
          <div class="pending-order-item">
            <p class="pending-order-item-name"> <%= order_item.menu_item_name %> </p>
            <p class="pending-order-item-price"> <i class="fa fa-inr" aria-hidden="true"></i> <%= order_item.menu_item_price %> </p>
            <p class="pending-order-item-quantity"> <span> x </span> <%= order_item.quantity %> </p>
            <p class="equal-sign"> = </p>
            <p class="pending-order-item-total"> <i class="fa fa-inr" aria-hidden="true"></i> <%= order_item.total %> </p>
          </div>
        <% end %>
      </div>
      <div class="pending-order-date">
        <p class="pending-order-ordered-date"> <span> Ordered Date: </span> <%= order.date.strftime("%d/%m/%Y") %> </p>
        <p class="pending-order-delivered-date"> <span> Order status: </span> <%= order.status %> </p>
      </div>
      <p class="pending-order-total"> <span> Total Price </span> <i class="fa fa-inr" aria-hidden="true"></i> <%= order.totalPrice %> </p>
      <% if @current_user.role != "customer" %>
        <%= form_with(url: "/orderdeliver/#{order.id}", method: "POST") do %>
          <p class="pending-order-submit"> <%= submit_tag("Deliver", class: "change-style", data: {disable_with: "Delivering.."} ) %> </p>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
