<!DOCTYPE html>
<html>
  <head>
    <title>Casa Blanca</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% # Google fonts %>
    <% # Nav bar %>
    <%= stylesheet_link_tag "application", "https://fonts.googleapis.com/css?family=Cedarville+Cursive|Sacramento&display=swap" %>
    <% # Welcome block %>
    <%= stylesheet_link_tag "application",
                            "https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" %>
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <div class="main-content">
      <header id="main-header">
	  	  <div class="container navbar">
          <div class="left-part">
            <%= link_to "/" do %>
              <h1 class="navbar-title">Cafe Blanca</h1>
            <% end %>
          </div>
          <div class="right-part">
            <div class="tags">
              <%= link_to "/" do %>
                <p class="tag">Home</p>
              <% end %>
              <% if @current_user %>
                <%= link_to carts_path do %>
                  <p class="tag">Cart</p>
                <% end %>
                <%= link_to orders_path do %>
                  <p class="tag">Orders</p>
                <% end %>
                <%= link_to "/users/#{@current_user.id}" do %>
                  <p class="tag">Profile</p>
                <% end %>
                <% if @current_user.role == "owner" %>
                  <%= link_to users_path do %>
                    <p class="tag">Users</p>
                  <% end %>
                  <%= link_to change_menus_path do %>
                    <p class="tag">Change Menu</p>
                  <% end %>
                  <%= link_to categories_path do %>
                    <p class="tag">Categories</p>
                  <% end %>
                  <%= link_to reports_path do %>
                    <p class="tag">Reports</p>
                  <% end %>
                <% end %>
                <%= link_to "/signout", method: "delete" do %>
                  <p class="tag">SignOut</p>
                <% end %>
              <% else %>
                <%= link_to "#welcome-block" do %>
                  <p class="tag">About</p>
                <% end %>
                <%= link_to "#footer" do %>
                  <p class="tag">Contact</p>
                <% end %>
                <% if @signUpFlag %>
                  <%= link_to new_session_path do %>
                    <p class="tag">SignIn</p>
                  <% end %>
                <% else %>
                  <%= link_to new_user_path do %>
                    <p class="tag">SignUp</p>
                  <% end %>
                <% end %>
              <% end %>
	  		    </div>
          </div>
	  	  </div>
	    </header>

      <% if flash[:error] %>
        <p class = "flash flash-error">
          <%= flash[:error] %>
        </p>
      <% end %>
      <% if flash[:notice] %>
        <p class = "flash flash-notice">
          <%= flash[:notice] %>
        </p>
      <% end %>

      <%= yield %>

    </div>
    <footer id="footer">
      <p> Developed by @PY563 for AICTE Lite WD 201 Capstone Project</p>
    </footer>
  </body>
</html>
